.projectBody{
    background-color: black;
    width: 100%;
}

#heading{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#card{
    padding: 5px;
    margin: 20px;
    box-shadow: 1px 6px 8px 5px rgb(58, 55, 55);
    background-color: black;
    color: white;
}

#card:hover{
    transform: translateY(4px); 
}

#title-card:hover{
    color: #ffb400;
}

#border{
    display: block;
    height: 2px;
    width: 80px;
    margin-bottom: 15px;
    bottom: -15px;
    position: relative;
    left: 47.6%;
    background-color: #ffb400;
}

#view-project{
    color: #fff;
    font-size: 15px;
    margin-top: 30px;
    text-transform: capitalize;
    padding: 14px 22px;
    letter-spacing: 0.6px;
    font-weight: 600;
    background: #ffb400;
    line-height: 10px;
    border-radius: 30px;
    border: 1px solid #ffb300;
}

#view-project:hover{
    color: #ffb400;
    background: #fff;
}